* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: #000;
    position: relative;
}

.canvas-bckgrd{
    display: block;
}

.notify {
    position: absolute;
    top: 25%; 
    left: 30%; 
    background-color: rgba(0, 0, 0, .6);
    max-width: 500px;
    height: 230px;  
}

.notify-txt{
    font-size: 1.8rem; 
    font-family: 'Roboto Mono', monospace;
    color: rgba(127, 255, 0, 1);
    text-align: center; 
    font-weight: 300; 
}    

.notify-timer {
    font-weight: 700; 
}


